@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}


.mt-5 {
    margin-top: -6px;
}




.landing{
    overflow: hidden;
    width: 100%;
   
}





.header{
    position: absolute;
}

.header img{
    width: 100%;
}
.landing iframe{
    height: 100vh;
    width: 100%;
}

.footer{
    background: url(/image/footer_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 325px;
    left: 0;
    overflow: hidden;
}



.top-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 53px 0 62px;
}

.footer-top-1 h1{
  font-family: 'Poppins', sans-serif;
  
  font-weight: 700;
}


.bubble{
    font-weight: bold;
    margin-top: 20px;
    color: #035268;
}




.footer-top-2 h1{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 25px;
    text-align: center;
}







.live{
    color: red;
}
.bottom-footer {
    padding: 10px 76px 0 64px;

    
}

.bottom-footer ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 25px;
   font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #035268;
}


.bottom-footer ul li{
    position: relative;
}

.bottom-footer ul li::after{
    position: absolute;
    bottom: -5px;
    content: "";
    background-color: #035268;
    width: 100%;
    height: 1px;
    left: 0;
}


.modal-main {
    position: absolute;
    top: 0;
    background: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    transition: all 0.9s ease;
    opacity: 0;
    pointer-events:none;
}


.modal {
    width: 39%;
    height: 44%;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    border-radius: 49px;
    transition: all 0.5s ease;
   
    


}

.modal-left{
    
    background: rgb(159 105 244 / 25%);
    width: 45%;
    position: relative;
    border-top-left-radius: 49px;
    border-bottom-left-radius: 49px;
   
}
.modal-left img{
    width: 100%;
  
    position: absolute;
    left: -82px; 
    top: 74px;
    
 
}
/* 
.modal-left::before {
    position: absolute;
    content: "";
    width: 103%;
    height: 47%;
    background: white;
    left: -80px;
    top: 74px;
    border-radius: 132px;
}



.modal-left::after {
    position: absolute;
    content: "";
    width: 103%;
    height: 47%;
    background: rgb(141 228 221 / 26%);
    left: -80px;
    top: 74px;
    border-radius: 132px;
} */

.modal-right {
    padding: 22px 50px 40px 50px;
}

.text-form {
    text-align: center;
}


.text-form h1{

    font-size: 38px;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
  

}


.text-form h3{

    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;

}

form {
    text-align: center;
}
form input {
    width: 70%;
    height: 37px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: rgb(204 204 204 / 50%);
    margin-bottom: 10px;
    padding-left: 15px;
}

form button {
    display: block;
    margin: 0 auto;
    padding: 7px 26px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
   font-family: 'Poppins', sans-serif;
    background-color: rgb(159 105 244 / 25%);
    font-weight: 700;
  
}
.modal i{
    position: absolute;
   
    right: 28px;
    top: 15px;
    font-size: 21px;
    cursor: pointer;
}




.bubble-image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}


.bubble-image h1{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1px;
    transition: all 1s ease;
    font-weight: 700;


}


.bubble-image img{
    width: 22%;
    filter: opacity(0.7);
    transform: scale(0.1);
    transition: all 1s ease;

}


.activeB{

    position: absolute;
    left: -412px;
    right: 0;
    margin: auto;
    text-align: center;
    

}

.counterinG{

    margin-top: 21px;

}

@media (max-width:1600px) {
    .bottom-footer ul{
        font-size: 20px;
    }
    .footer{
        min-height: 345px;
    }
    .modal-left {
       
        width: 76%;
    }

    .text-form h1 {
        font-size: 31px;
    }
    form input {
        width: 92%;
    }
}


@media (max-width:1488px) {
    .footer-top-1 h1 {
        font-size: 26px;
    }

  
}

@media (max-width:1398px) {
    .footer-top-2 ul li {
     
        padding: 13px 35px;
    }

    .modal {
        width: 44%;
    }    
}



@media (max-width:1338px) {
    .bottom-footer ul {
        font-size: 17px;
    }

    .footer-top-1 h1 {
        font-size: 24px;
    }
}



@media (max-width:1217px) {
    .modal {
        width: 51%;
    }
    
}